.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}


.title {
  font-size: 5rem;
  font-weight: normal;
  color: #DFDCE3;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.25rem;
  color: #DFDCE3;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.fact-section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fact-title {
  font-size: 1.5rem;
  color: #DFDCE3;
  margin-bottom: 10px;
}

.fact-text {
  font-size: 1.25rem;
  color: #FBBC05;
  margin-bottom: 20px;
}

.button {
  background-color: darkgreen;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Anton;
  letter-spacing: 1px;
}

.button:active {
  background-color: grey;
}

.emoji {
  position: fixed;
  bottom: 0;
  left: 50%;
  font-size: 2rem;
  animation: floatingEmoji 20s linear infinite;
}

@keyframes floatingEmoji {
  0% {
    transform: translateX(-50%) translateY(-100vh);
  }
  25% {
    transform: translateX(-25vw) translateY(-75vh);
  }
  50% {
    transform: translateX(-50%) translateY(-50vh);
  }
  75% {
    transform: translateX(25vw) translateY(-25vh);
  }
  100% {
    transform: translateX(-50%) translateY(0vh);
  }
}
